<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054767037583-krijpj7pqn95ljc7mgtpk9h982rsjt20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054767037583-krijpj7pqn95ljc7mgtpk9h982rsjt20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054767037583-l9jv7td9ve3duunhops0ab9thdmg92mr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoC19Wqipq46TZBBeScpmLlFdiGotM_fc</string>
	<key>GCM_SENDER_ID</key>
	<string>1054767037583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornellappdev.hustle</string>
	<key>PROJECT_ID</key>
	<string>center-3e0e0</string>
	<key>STORAGE_BUCKET</key>
	<string>center-3e0e0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054767037583:ios:f8df600b271b82656d84fa</string>
</dict>
</plist>